*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(53,53,53);
  color: white;
}
.logo{
  width: 150px;
  padding: 10px;
}
.menuContainer{
  display: flex;
  list-style: none;
}
.link{
  padding-left: 10px;
  cursor: pointer;
}
.bannerSectionContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: url('/images/background.png'),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerImage{
  height: 300px;
}
.bannerDetail{
  color: white;
}
.bannerDetail h1{
  font-size: 54px;
  margin: 20px 10px;
}
.bannerDetail p{
  font-size: 18px;
  margin: 20px 10px;
}
.btn{
  margin-left: 10px;
  padding: 10px;
  color: white;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}
.aboutUsContainer{
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin: 15px;
}
.title{
  text-align: center;
  font-size: 54px;
  margin: 10px;
}
.aboutUs h1, p, button{
  margin: 10px 0px;
}
.aboutUs h1{
  font-size: 25px;
}
.aboutUs p{
  font-size: 17px;
}
.aboutUs > .btn{
  margin: 0px;
}
.ourServiceSection{
  color: white;
  background: url("/images/background.png"),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
}
.icon{
  height: 100px;
}
.ServiceCart{
  text-align: center;
  width: 220px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  box-shadow: 4px 2px 105px white;;
}
.serviceCartContainer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.ServiceCart p{
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
}
.ServiceCart button{
  height: 30px;
  width: 100%;
  color: white;
  background-color: #1c1b1b;
  border: none;
  outline: none;
  cursor: pointer;
}