*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(53,53,53);
  color: white;
}
.logo{
  width: 150px;
  padding: 10px;
}
.menuContainer{
  display: flex;
  list-style: none;
}
.link{
  padding-left: 10px;
}
.bannerSectionContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-image: url('/images/background.png'),linear-gradient(45deg, rgb(5, 5, 5), #2e2e2e);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bannerImage{
  height: 300px;
}
.bannerDetail{
  color: white;
}
.bannerDetail h1{
  font-size: 54px;
  margin: 20px 10px;
}
.bannerDetail p{
  font-size: 20px;
  margin: 20px 10px;
}
.bannerDetail button{
  margin-left: 10px;
  padding: 10px;
  color: white;
  background-color: red;
  border: none;
  outline: none;
  cursor: pointer;
}