*{
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(53,53,53);
  color: white;
}
.logo{
  width: 150px;
}
.menuContainer{
  
}